{% extends 'base.html' %}

{% block content %} 
  <section class="hero">
    <div class="max-w-2xl mx-auto py-12 shadow rounded-lg bg-gray-200 bg-opacity-50">
      <h1 class="bg-gray-200 bg-opacity-10 text-3xl font-bold px-4 mb-4">Here are your profile details</h1>
      <div class="bg-gray-200 bg-opacity-30 p-6">
        <h2 class="text-xl font-bold mb-4 bg-gray-200 bg-opacity-10">Personal Information</h2>
        <div class="mb-4 bg-gray-200 bg-opacity-30">
          <label class="block font-bold mb-2 bg-gray-200 bg-opacity-10" for="email">Email: {{ current_user.email }}</label>
        </div>
        <div class="mb-4 bg-gray-200 bg-opacity-60">
          <label class="block font-bold mb-2 bg-gray-100 bg-opacity-10" for="token">Token: {{ current_user.token }}</label>
        </div>
      </div>
    </div>
</section>
{% endblock %}
